* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Mega", sans-serif;
  background-color: #414141;
  color: white;
}

body {
  display: grid;
  grid-template: auto 1fr auto / 300px 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  text-align: center;
}
h1,
h2,
h3,
h4 {
  padding: 1em;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: end;
}

header a {
  text-decoration: none;
}

#nav-links {
  display: flex;
  list-style: none;
  gap: 2em;
  align-items: center;
  padding: 1em;
}

.banner {
  background-image: url("https://crystalcommerce-assets.nyc3.cdn.digitaloceanspaces.com/photos/6330564/splashBanner_magic.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

#intro {
  padding: 20px;
  text-align: center;
}

#intro p {
  width: 33%;
  margin: 10px auto;
  text-align: center;
}

#formats {
  text-align: center;
  padding: 1em;
}

.format {
  padding: 1em;
}

#locations {
  padding-top: 3em;
  text-align: center;
  width: 100%;
}

.location {
}

.location img {
  width: 80%;
  max-width: 500px;
  height: 300px;
}

#contact {
  padding-top: 3em;
  text-align: center;
}

#locations .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1em;
}

@media (max-width: 992px) {
  .location img {
    width: 400px;
    height: 240px;
  }
}

@media (max-width: 600px) {
  .location img {
    display: flex;
    width: 300px;
    height: 180px;
  }
}

@media (max-width: 600px) {
  #locations .container img {
    width: 90%;
  }
}
